<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ area.name }}</title>
</head>
<body>
    {% if session.username %}
        <p>Logged in as {{ session.username }}</p>
        <h2>Threads</h2>
        <hr>
        {% if threads %}
            {% for thread in threads %}
                <h3>
                    {{ thread.title }}
                    <p>Created by: {{thread.author}}, Created at {{thread.created_at}}</p>
                    <p>Number of messages {{thread.message_count}}</p>
                    
                </h3>
                <hr>
            {% endfor %}
        {% else %}
            <p>No threads available.</p>
        {% endif %}
        <a href="/new_thread">Create new area</a>
        <a href="/logout">Logout</a>
        
    {% else %}
        <form action="/login" method="POST">
            <p>Username:<br>
            <input type="text" name="username" required></p>
            <p>Password:<br>
            <input type="password" name="password" required></p>
            <input type="submit" value="Login">
        </form>
        {% if error %}
        <p style="color:red;">{{ error }}</p>
        {% endif %}
        <!-- Registration link -->
        <a href="/register">Register</a>
    {% endif %}
</body>
</html>
