{% extends "layout.html" %}

{% block title %}
    Edit Message
{% endblock %}

{% block content %}
    <h1>Edit Message</h1>

    <form action="/edit_message/{{ message.id }}" method="POST">
        <textarea name="content" rows="5" cols="50">{{ message.content }}</textarea><br>
        <input type="submit" value="Save Changes">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    </form>

    <a href="/thread/{{ message.thread_id }}">Back to Thread</a>
{% endblock %}
