<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>



    {% if session.username %}
        <p>Logged in as {{ session.username }}</p>

        Viestien määrä: {{ count }}
        <hr>
        {% for message in messages %}
        {{ message.content }}
        <hr>
        {% endfor %}
        <a href="/new">Lähetä viesti</a>
        <a href="/logout">Kirjaudu ulos</a>
        
    {% else %}
        <form action="/login" method="POST">
            <p>Username:<br>
            <input type="text" name="username" required></p>
            <p>Password:<br>
            <input type="password" name="password" required></p>
            <input type="submit" value="Login">
        </form>
        {% if error %}
        <p style="color:red;">{{ error }}</p>
        {% endif %}
        <!-- Registration link -->
        <a href="/register">Register</a>
    {% endif %}
</body>
</html>
