<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>



    {% if session.username %}
        <p>{{ session.username }}</p>
        <!-- <p>User_role is {{ session.role }}</p> -->
        <a href="/">Home</a>
        <a href="/logout">Logout</a>
        <form action="/search_result" method="GET">
            <p>
                <label for="query">Search:</label><br>
                <input type="text" name="query" id="query" required>
                <input type="submit" value="Submit">
            </p> 
        </form>

        <h2>Discussion Areas</h2>
        <hr>
        {% if areas %}


            {% for area in areas %}
                {% if not area.is_hidden %}
                    <h3>
                        <a href="/discussion/{{ area.id }}">{{ area.name }}</a>
                    </h3>
                    <p>{{area.description}}</p>
                    <div>Number of Threads: {{ area.thread_count }}, Number of Messages: {{ area.message_count }}</div>
                    <div>
                        {% if area.last_message_date %}
                          Last message: {{ area.last_message_date.strftime(" %H:%M %d.%m.%Y ") }}
                        {% else %}
                          No messages yet
                        {% endif %}
                      </div>
                      
                    <hr>
                    {% if session.role == "admin" %}
                    <form action="/delete_area/{{ area.id }}" method="POST" style="display:inline;">
                        <button type="submit">Delete</button>
                    </form>
                {% endif %}
                {% endif %}
            {% endfor %}
        {% else %}
            <p>No discussion areas available.</p>
        {% endif %}
        {% if session.role == "admin" %}
            <a href="/new_area">Create new area</a>
        {% endif %}

        
    {% else %}
        <form action="/login" method="POST">
            <p>Username:<br>
            <input type="text" name="username" required></p>
            <p>Password:<br>
            <input type="password" name="password" required></p>
            <input type="submit" value="Login">
        </form>
        {% if error %}
        <p style="color:red;">{{ error }}</p>
        {% endif %}
        <!-- Registration link -->
        <a href="/register">Register</a>
    {% endif %}
</body>
</html>
