{% extends "layout.html" %}

{% block title %}
    Login
{% endblock %}

{% block content %}
    <div>
        <h1>Login</h1>

        <!-- Display an error message if login fails -->
        {% if error %}
            <p style="color: red;">{{ error }}</p>
        {% endif %}

        <!-- Login Form -->
        <form action="/login" method="POST">
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" value="{{ username }}">
            </div>

            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password">
            </div>

            <div class="form-group">
                <input type="submit" value="Login">
            </div>
        </form>

        <!-- Registration link -->
        <p>Don't have an account? <a href="/register">Register here</a>.</p>
    </div>
{% endblock %}
